[submodule "casino/vendor/elite-poker"]
	path = casino/vendor/elite-poker
	url = https://github.com/opadips/Elite-Poker.git
[submodule "casino/vendor/react-casino-roulette"]
	path = casino/vendor/react-casino-roulette
	url = https://github.com/IvanAdmaers/react-casino-roulette.git
