[submodule "casino/api"]
	path = casino/api
	url = https://github.com/scriptcasino/free-casino-script-api.git
	branch = main
[submodule "casino/portal"]
	path = casino/portal
	url = https://github.com/scriptcasino/free-casino-script-portal.git
	branch = main
